<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
    	<!-- meta character set -->
        <meta charset="utf-8">
		<!-- Always force latest IE rendering engine or request Chrome Frame -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>MED SMART</title>
		<!-- Meta Description -->
        <meta name="description" content="Blue One Page Creative HTML5 Template">
        <meta name="keywords" content="one page, single page, onepage, responsive, parallax, creative, business, html5, css3, css3 animation">
        <meta name="author" content="Muhammad Morshed">

		<!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- CSS
		================================================== -->

		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="/static/css/jquery.fancybox.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="/static/css/owl.carousel.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="/static/css/slit-slider.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="/static/css/animate.css">
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="/static/css/main.css">

		<!-- Modernizer Script for old Browsers -->
        <script src="/static/js/modernizr-2.6.2.min.js"></script>

    </head>

    <body id="body">

		<!-- preloader -->
		<div id="preloader">
            <div class="loder-box">
            	<div class="battery"></div>
            </div>
		</div>
		<!-- end preloader -->

        <!--
        Fixed Navigation
        ==================================== -->
        <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->

					<!-- logo -->
					<h1 class="navbar-brand">
						<a href="#" style="color: white">MED SMART</a>
					</h1>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" >
                    <ul class="nav navbar-nav">
                        <li><a href="#service">Service</a></li>
                        <li><a href="#portfolio">gallery</a></li>
                        <li><a href="/customer/registration/">Registration</a></li>
                        <li><a href="#contact">Login</a></li>
{#                        <li><a href="/login/login/">Login</a></li>#}

                    </ul>
                </nav>
				<!-- /main nav -->

            </div>
        </header>
        <!--
        End Fixed Navigation
        ==================================== -->

		<main class="site-content" role="main">

        <!--
        Home Slider
        ==================================== -->

		<section id="home-slider">
            <div id="slider" class="sl-slider-wrapper">

				<div class="sl-slider">

					<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">

						<div class="bg-img bg-img-1"></div>

						<div class="slide-caption">
                            <div class="caption-content">
                                <h2 class="animated fadeInDown" style="color: rgb(2, 0, 0)"><b>WELCOME TO MED SMART</b></h2>
{#                                <span class="animated fadeInDown">Clean and Professional one page Template</span>#}
                                <a href="#service" class="btn btn-blue btn-effect">Our traits</a>
                            </div>
                        </div>

					</div>

					<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">

						<div class="bg-img bg-img-2"></div>
						<div class="slide-caption">
                            <div class="caption-content">
                                <h2 class="animated fadeInDown" style="color: indianred"><b>WELCOME TO MED SMART</b></h2>
{#                                <span class="animated fadeInDown">Clean and Professional one page Template</span>#}
                                <a href="#service" class="btn btn-blue btn-effect">Our traits</a>
                            </div>
                        </div>

					</div>

					<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">

						<div class="bg-img bg-img-3"></div>
						<div class="slide-caption">
                            <div class="caption-content">
                                <h2 class="animated fadeInDown" style="color: darkblue"><b>WELCOME TO MED SMART</b></h2>
{#                                <span class="animated fadeInDown">Clean and Professional one page Template</span>#}
                                <a href="#service" class="btn btn-blue btn-effect">Our traits</a>
                            </div>
                        </div>

					</div>

				</div><!-- /sl-slider -->

                <!--
                <nav id="nav-arrows" class="nav-arrows">
                    <span class="nav-arrow-prev">Previous</span>
                    <span class="nav-arrow-next">Next</span>
                </nav>
                -->

                <nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
                    <a href="javascript:;" class="sl-prev">
                        <i class="fa fa-angle-left fa-3x"></i>
                    </a>
                    <a href="javascript:;" class="sl-next">
                        <i class="fa fa-angle-right fa-3x"></i>
                    </a>
                </nav>


				<nav id="nav-dots" class="nav-dots visible-xs visible-sm hidden-md hidden-lg">
					<span class="nav-dot-current"></span>
					<span></span>
					<span></span>
				</nav>

			</div><!-- /slider-wrapper -->
		</section>

        <!--
        End Home SliderEnd
        ==================================== -->

			<!-- about section -->
			<!-- end about section -->


			<!-- Service section -->
			<section id="service">
				<div class="container">
					<div class="row">

						<div class="sec-title text-center">
							<h2 class="wow animated bounceInLeft">Our traits</h2>
							<p class="wow animated bounceInRight"></p>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-plus fa-3x"></i>
								</div>
								<h3>Positive and Inspiring Company Culture</h3>
{#								<p>Waste and recycling solutions for your home. </p>#}
							</div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-graduation-cap fa-3x"></i>
								</div>
								<h3>Career Growth Opportunities</h3>
{#								<p>Convenient pickup options for large items. </p>#}
							</div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-lock fa-3x"></i>
								</div>
								<h3>high level Job Security</h3>
{#								<p>Provide faster pickup and recycling services</p>#}
							</div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-money fa-3x"></i>
								</div>

								<h3>Competitive Pay Package</h3>
{#								<p>Convenient recycling service for bulbs,batteries and electronis. </p>#}
							</div>
						</div>

					</div>
				</div>
			</section>
			<!-- end Service section -->

			<!-- portfolio section -->
			<section id="portfolio">
				<div class="container">
					<div class="row">

						<div class="sec-title text-center wow animated fadeInDown">
							<h2>OUR GALLERY</h2>
							<p></p>
						</div>


						<ul class="project-wrapper wow animated fadeInUp">
							<li class="portfolio-item">
								<img src="/static/img/portfolio/item.jpg" class="img-responsive" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat">
							</li>

							<li class="portfolio-item">
								<img src="/static/img/portfolio/item2.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
							</li>

							<li class="portfolio-item">
								<img src="/static/img/portfolio/item3.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
							</li>

							<li class="portfolio-item">
								<img src="/static/img/portfolio/item4.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry.">
							</li>

							<li class="portfolio-item">
								<img src="/static/img/portfolio/item5.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
							</li>

							<li class="portfolio-item">
								<img src="/static/img/portfolio/item6.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
							</li>
						</ul>

					</div>
				</div>
			</section>
			<!-- end portfolio section -->

			<!-- Testimonial section -->
			<section id="testimonials" class="parallax">
				<div class="overlay">
					<div class="container">
						<div class="row">

							<div class="sec-title text-center white wow animated fadeInDown">
								<h2>What people say</h2>
							</div>

							<div id="testimonial" class=" wow animated fadeInUp">
								<div class="testimonial-item text-center">
{#									<img src="/static/img/member-1.jpg" alt="Our Clients">#}
									<div class="clearfix">
										<span>John David</span>
										<p>We live in a very windy area of Peoria, AZ. My neighbor was impressed with our driver for our recycling pick up. Our can blew over and the driver picked it up and dumped it. I wish I would have seen it so I could personally thank our driver. It is very much appreciated!</p>
									</div>
								</div>
								<div class="testimonial-item text-center">
{#									<img src="/static/img/member-1.jpg" alt="Our Clients">#}
									<div class="clearfix">
										<span>Katty Wilson</span>
{#										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>#}
									<p>We were driving on a highway a good distance behind a WM truck when it drove over to bumps in the road. A bunch of gravel came off, hitting and damaging our windshield. We immediately took photos of the truck and our damage. We emailed wmcares and got an immediate response, they turned it over to their insurance who investigated and issued payment for a new windshield. Very pleased how quickly and efficiently they resolved the claim. They credited us for taking photos to prove our case, regardless, we're very happy.</p>
                                    </div>
								</div>
								<div class="testimonial-item text-center">
{#									<img src="/static/img/member-1.jpg" alt="Our Clients">#}
									<div class="clearfix">
										<span>Ernest M</span>
{#										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>#}
									    <p>How dare them deliver a replacement barrel ... dirty and stinky ...and tell me they power wash them when they clearly do not. Then back off that statement and tell me no, they just pick up from someone who has discontinued service and deliver that barrel to the next person needing one. I called and requested a cleaner barrel,preferably one that has been washed. I don't want someone else's filth... thank you very much. Pickup service is great though, and the guys that pick up my barrel are always helpful and friendly.</p>
                                    </div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>
			<!-- end Testimonial section -->

			<!-- Price section -->
			<!-- end Price section -->

			<!-- Social section -->
			<section id="social" class="parallax">
				<div class="overlay">
					<div class="container">
						<div class="row">

							<div class="sec-title text-center white wow animated fadeInDown">
								<h2>FOLLOW US</h2>
								<p>Beautifully simple follow buttons to help you get followers on</p>
							</div>

							<ul class="social-button">
								<li class="wow animated zoomIn"><a href="#"><i class="fa fa-thumbs-up fa-2x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="#"><i class="fa fa-dribbble fa-2x"></i></a></li>
							</ul>

						</div>
					</div>
				</div>
			</section>
			<!-- end Social section -->

			<!-- Contact section -->
			<section id="contact" >
				<div class="container">
					<div class="row">

						<div class="sec-title text-center wow animated fadeInDown">
							<h2>Login</h2>
						</div>

						<div class="col-md-7 contact-form wow animated fadeInLeft">
							<form action="#" method="post">
                                {% csrf_token %}
								<div class="input-field">
									<input type="text" required="required" name="unm" class="form-control" placeholder="Your Username...">
								</div>
								<div class="input-field">
									<input type="password" required="required" name="pas" class="form-control" placeholder="Your Password...">
								</div>
						       	<input type="submit"  class="btn btn-blue btn-effect" value="Login">
                                   {% if inv %}
                                   <script>
                                   alert("{{ inv }}")
                                   </script>
                               {% endif %}
							</form>
						</div>

						<div class="col-md-5 wow animated fadeInRight">
							<address class="contact-details">
								<h3>Contact Us</h3>
								<p><i class="fa fa-pencil"></i>MedSmart.<span>PO Box 345678</span> <span>Little Lonsdale St, Melbourne </span><span>Australia</span></p><br>
								<p><i class="fa fa-phone"></i>Phone: (415) 124-5678 </p>
								<p><i class="fa fa-envelope"></i>website@medsmart.com</p>
							</address>
						</div>

					</div>
				</div>
			</section>
			<!-- end Contact section -->


		</main>

		<footer id="footer">
			<div class="container">
				<div class="row text-center">
					<div class="footer-content">
						<div class="wow animated fadeInDown">
						</div>
						<div class="footer-social">
							<ul>
								<li class="wow animated zoomIn"><a href="#"><i class="fa fa-thumbs-up fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="#"><i class="fa fa-twitter fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="#"><i class="fa fa-skype fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.9s"><a href="#"><i class="fa fa-dribbble fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="1.2s"><a href="#"><i class="fa fa-youtube fa-3x"></i></a></li>
							</ul>
						</div>

{#						<p>Copyright &copy; 2014-2015 Design and Developed By<a href="http://www.themefisher.com">Themefisher</a> </p>#}
					</div>
				</div>
			</div>
		</footer>

		<!-- Essential jQuery Plugins
		================================================== -->
		<!-- Main jQuery -->
        <script src="/static/js/jquery-1.11.1.min.js"></script>
		<!-- Twitter Bootstrap -->
        <script src="/static/js/bootstrap.min.js"></script>
		<!-- Single Page Nav -->
        <script src="/static/js/jquery.singlePageNav.min.js"></script>
		<!-- jquery.fancybox.pack -->
        <script src="/static/js/jquery.fancybox.pack.js"></script>
		<!-- Google Map API -->
		<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<!-- Owl Carousel -->
        <script src="/static/js/owl.carousel.min.js"></script>
        <!-- jquery easing -->
        <script src="/static/js/jquery.easing.min.js"></script>
        <!-- Fullscreen slider -->
        <script src="/static/js/jquery.slitslider.js"></script>
        <script src="/static/js/jquery.ba-cond.min.js"></script>
		<!-- onscroll animation -->
        <script src="/static/js/wow.min.js"></script>
		<!-- Custom Functions -->
        <script src="/static/js/main.js"></script>
    </body>
</html>
